#main {
    border: 5px solid;
    padding: 150px;
    box-shadow: 20px 20px 20px 15px rgb(38, 197, 64) inset;
    width: 950px;
    height: 500px;
}

h3 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
  }

  div.polaroid {
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
  }

  div.rotate_right {
    float: left;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(7deg);
  }

  div.rotate_left {
    float: left;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Safari */
    transform: rotate(-8deg);
  }

  @media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }